/*########## GENERAL #########*/
body{
    background-color: #e7eaeb;
    user-select: none;
}
nav.spacenav{
    padding-left: 1em;
    cursor:default;
}
nav.mainnav{
    flex-direction: initial;
    width: fit-content;
    height: 100%;
    align-items: normal!important;
    padding-left: 1em;
    padding-right: 3em;
}
.bg-dark{background-color: #1f2226!important;}
body > nav > a{color:white!important};
li{
    height: 2em;
    margin-bottom:1em;
}
li{
    cursor: pointer;
}
li:last-child{
    margin-top:auto;
}
#container{
    display: flex;
    width: 100%;
    height: calc(100% - 3em);
    position: fixed;
}
#channel,#controller,#value{
    width: 5em;
}

section{
    position:absolute;
    display: none;
    opacity: 0;
    padding:2em;
    transition: opacity 0.5s;
}

.bi {
    font-size: 2em;
}
/*########## SCENE COLLECTION #########*/
.category {
}
.sceneholder {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}
.scene {
    height: 6em;
    width: 11em;
    background-image: linear-gradient(139deg, rgba(6,6,116,1) 0%, rgb(60 62 80) 100%);
    border-radius: 8px;
    outline: #ffffff solid 3px;
    outline-offset: -1.5px;
    letter-spacing: -0.05em;
    box-shadow: 5px 6px 20px 0px #09097270;
    color: white;
    padding: 0.7em;
    padding-top: 0.5em;
    transition: 0.1s all;
}
.scene:hover{
    transform: scale(0.98);
}
.scene:active {
    outline-offset: 38.5px;
    outline: #ffffff00 solid 3px;
    transform: scale(0.9);
}
.scene.create {
    background-image: none;
    outline: #aab0b2 dashed 3px;
    box-shadow: none;
    color: #aab0b2;
    text-align: center;
    font-size: 16px;
    line-height: 5em;
}
.scene.create:active {
    outline-offset: 0px;
    transform: scale(0.9);
}